### First we need import BeautifulSoup and urlopen for parse html and get url

In [6]:
from bs4 import BeautifulSoup # This is will use for parsing HTML
from urllib.request import urlopen # This is will use to retrieve data from url


url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urlopen(url) # will open url
html = page.read().decode("utf-8") # read url and decode it
soup = BeautifulSoup(html, "html.parser") # parsing contents of page as a html

### In cell below we create list, read html as a text and split it per each line

In [2]:
list1 = []
list1 = soup.get_text()
list1 = list1.split('\n')
# Code below will remove all empty items of list
while("" in list1) : 
    list1.remove("")

### Now we should now index of first item that we want "M1A" and first item after our table which is "Most populated FSAs[3][edit]" so we know our index should be 1 less than it's index

In [3]:
list1.index('Most populated FSAs[3][edit]')

553

In [4]:
list1.index('M1A')

13

### Now we create a new list with just items that we want(all item of table without header)

In [5]:
list2 = list1[13:553]

### here I just created list of numbers from 0 with gap 3 to use it in next level

In [7]:
import numpy as np
array=np.arange(int(0),int(len(list2)),int(3))
array

array([  0,   3,   6,   9,  12,  15,  18,  21,  24,  27,  30,  33,  36,
        39,  42,  45,  48,  51,  54,  57,  60,  63,  66,  69,  72,  75,
        78,  81,  84,  87,  90,  93,  96,  99, 102, 105, 108, 111, 114,
       117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153,
       156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192,
       195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231,
       234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270,
       273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309,
       312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348,
       351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387,
       390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426,
       429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465,
       468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504,
       507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537])

#### Now I used list above to create a list of 3 grouped items (each line will be line of data frame)

In [8]:
list_final = []
for i in array:
    list_final = list_final+[list2[i:i+3]]

#### This is beautiful lest that so clear but we go further to convert it to pandas dataframe

In [10]:
list_final

[['M1A', 'Not assigned', 'Not assigned'],
 ['M2A', 'Not assigned', 'Not assigned'],
 ['M3A', 'North York', 'Parkwoods'],
 ['M4A', 'North York', 'Victoria Village'],
 ['M5A', 'Downtown Toronto', 'Regent Park, Harbourfront'],
 ['M6A', 'North York', 'Lawrence Manor, Lawrence Heights'],
 ['M7A', 'Downtown Toronto', "Queen's Park, Ontario Provincial Government"],
 ['M8A', 'Not assigned', 'Not assigned'],
 ['M9A', 'Etobicoke', 'Islington Avenue, Humber Valley Village'],
 ['M1B', 'Scarborough', 'Malvern, Rouge'],
 ['M2B', 'Not assigned', 'Not assigned'],
 ['M3B', 'North York', 'Don Mills'],
 ['M4B', 'East York', 'Parkview Hill, Woodbine Gardens'],
 ['M5B', 'Downtown Toronto', 'Garden District, Ryerson'],
 ['M6B', 'North York', 'Glencairn'],
 ['M7B', 'Not assigned', 'Not assigned'],
 ['M8B', 'Not assigned', 'Not assigned'],
 ['M9B',
  'Etobicoke',
  'West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale'],
 ['M1C', 'Scarborough', 'Rouge Hill, Port Union, Highland Creek'],
 ['M2C', 'Not assigned', 'Not assigned'],
 ['M3C', 'North York', 'Don Mills'],
 ['M4C', 'East York', 'Woodbine Heights'],
 ['M5C', 'Downtown Toronto', 'St. James Town'],
 ['M6C', 'York', 'Humewood-Cedarvale'],
 ['M7C', 'Not assigned', 'Not assigned'],
 ['M8C', 'Not assigned', 'Not assigned'],
 ['M9C',
  'Etobicoke',
  'Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood'],
 ['M1E', 'Scarborough', 'Guildwood, Morningside, West Hill'],
 ['M2E', 'Not assigned', 'Not assigned'],
 ['M3E', 'Not assigned', 'Not assigned'],
 ['M4E', 'East Toronto', 'The Beaches'],
 ['M5E', 'Downtown Toronto', 'Berczy Park'],
 ['M6E', 'York', 'Caledonia-Fairbanks'],
 ['M7E', 'Not assigned', 'Not assigned'],
 ['M8E', 'Not assigned', 'Not assigned'],
 ['M9E', 'Not assigned', 'Not assigned'],
 ['M1G', 'Scarborough', 'Woburn'],
 ['M2G', 'Not assigned', 'Not assigned'],
 ['M3G', 'Not assigned', 'Not assigned'],
 ['M4G', 'East York', 'Leaside'],
 ['M5G', 'Downtown Toronto', 'Central Bay Street'],
 ['M6G', 'Downtown Toronto', 'Christie'],
 ['M7G', 'Not assigned', 'Not assigned'],
 ['M8G', 'Not assigned', 'Not assigned'],
 ['M9G', 'Not assigned', 'Not assigned'],
 ['M1H', 'Scarborough', 'Cedarbrae'],
 ['M2H', 'North York', 'Hillcrest Village'],
 ['M3H', 'North York', 'Bathurst Manor, Wilson Heights, Downsview North'],
 ['M4H', 'East York', 'Thorncliffe Park'],
 ['M5H', 'Downtown Toronto', 'Richmond, Adelaide, King'],
 ['M6H', 'West Toronto', 'Dufferin, Dovercourt Village'],
 ['M7H', 'Not assigned', 'Not assigned'],
 ['M8H', 'Not assigned', 'Not assigned'],
 ['M9H', 'Not assigned', 'Not assigned'],
 ['M1J', 'Scarborough', 'Scarborough Village'],
 ['M2J', 'North York', 'Fairview, Henry Farm, Oriole'],
 ['M3J', 'North York', 'Northwood Park, York University'],
 ['M4J', 'East York', 'East Toronto, Broadview North (Old East York)'],
 ['M5J',
  'Downtown Toronto',
  'Harbourfront East, Union Station, Toronto Islands'],
 ['M6J', 'West Toronto', 'Little Portugal, Trinity'],
 ['M7J', 'Not assigned', 'Not assigned'],
 ['M8J', 'Not assigned', 'Not assigned'],
 ['M9J', 'Not assigned', 'Not assigned'],
 ['M1K', 'Scarborough', 'Kennedy Park, Ionview, East Birchmount Park'],
 ['M2K', 'North York', 'Bayview Village'],
 ['M3K', 'North York', 'Downsview'],
 ['M4K', 'East Toronto', 'The Danforth West, Riverdale'],
 ['M5K', 'Downtown Toronto', 'Toronto Dominion Centre, Design Exchange'],
 ['M6K', 'West Toronto', 'Brockton, Parkdale Village, Exhibition Place'],
 ['M7K', 'Not assigned', 'Not assigned'],
 ['M8K', 'Not assigned', 'Not assigned'],
 ['M9K', 'Not assigned', 'Not assigned'],
 ['M1L', 'Scarborough', 'Golden Mile, Clairlea, Oakridge'],
 ['M2L', 'North York', 'York Mills, Silver Hills'],
 ['M3L', 'North York', 'Downsview'],
 ['M4L', 'East Toronto', 'India Bazaar, The Beaches West'],
 ['M5L', 'Downtown Toronto', 'Commerce Court, Victoria Hotel'],
 ['M6L', 'North York', 'North Park, Maple Leaf Park, Upwood Park'],
 ['M7L', 'Not assigned', 'Not assigned'],
 ['M8L', 'Not assigned', 'Not assigned'],
 ['M9L', 'North York', 'Humber Summit'],
 ['M1M', 'Scarborough', 'Cliffside, Cliffcrest, Scarborough Village West'],
 ['M2M', 'North York', 'Willowdale, Newtonbrook'],
 ['M3M', 'North York', 'Downsview'],
 ['M4M', 'East Toronto', 'Studio District'],
 ['M5M', 'North York', 'Bedford Park, Lawrence Manor East'],
 ['M6M', 'York', 'Del Ray, Mount Dennis, Keelsdale and Silverthorn'],
 ['M7M', 'Not assigned', 'Not assigned'],
 ['M8M', 'Not assigned', 'Not assigned'],
 ['M9M', 'North York', 'Humberlea, Emery'],
 ['M1N', 'Scarborough', 'Birch Cliff, Cliffside West'],
 ['M2N', 'North York', 'Willowdale, Willowdale East'],
 ['M3N', 'North York', 'Downsview'],
 ['M4N', 'Central Toronto', 'Lawrence Park'],
 ['M5N', 'Central Toronto', 'Roselawn'],
 ['M6N', 'York', 'Runnymede, The Junction North'],
 ['M7N', 'Not assigned', 'Not assigned'],
 ['M8N', 'Not assigned', 'Not assigned'],
 ['M9N', 'York', 'Weston'],
 ['M1P',
  'Scarborough',
  'Dorset Park, Wexford Heights, Scarborough Town Centre'],
 ['M2P', 'North York', 'York Mills West'],
 ['M3P', 'Not assigned', 'Not assigned'],
 ['M4P', 'Central Toronto', 'Davisville North'],
 ['M5P', 'Central Toronto', 'Forest Hill North & West, Forest Hill Road Park'],
 ['M6P', 'West Toronto', 'High Park, The Junction South'],
 ['M7P', 'Not assigned', 'Not assigned'],
 ['M8P', 'Not assigned', 'Not assigned'],
 ['M9P', 'Etobicoke', 'Westmount'],
 ['M1R', 'Scarborough', 'Wexford, Maryvale'],
 ['M2R', 'North York', 'Willowdale, Willowdale West'],
 ['M3R', 'Not assigned', 'Not assigned'],
 ['M4R', 'Central Toronto', 'North Toronto West,  Lawrence Park'],
 ['M5R', 'Central Toronto', 'The Annex, North Midtown, Yorkville'],
 ['M6R', 'West Toronto', 'Parkdale, Roncesvalles'],
 ['M7R', 'Mississauga', 'Canada Post Gateway Processing Centre'],
 ['M8R', 'Not assigned', 'Not assigned'],
 ['M9R',
  'Etobicoke',
  'Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens'],
 ['M1S', 'Scarborough', 'Agincourt'],
 ['M2S', 'Not assigned', 'Not assigned'],
 ['M3S', 'Not assigned', 'Not assigned'],
 ['M4S', 'Central Toronto', 'Davisville'],
 ['M5S', 'Downtown Toronto', 'University of Toronto, Harbord'],
 ['M6S', 'West Toronto', 'Runnymede, Swansea'],
 ['M7S', 'Not assigned', 'Not assigned'],
 ['M8S', 'Not assigned', 'Not assigned'],
 ['M9S', 'Not assigned', 'Not assigned'],
 ['M1T', 'Scarborough', "Clarks Corners, Tam O'Shanter, Sullivan"],
 ['M2T', 'Not assigned', 'Not assigned'],
 ['M3T', 'Not assigned', 'Not assigned'],
 ['M4T', 'Central Toronto', 'Moore Park, Summerhill East'],
 ['M5T', 'Downtown Toronto', 'Kensington Market, Chinatown, Grange Park'],
 ['M6T', 'Not assigned', 'Not assigned'],
 ['M7T', 'Not assigned', 'Not assigned'],
 ['M8T', 'Not assigned', 'Not assigned'],
 ['M9T', 'Not assigned', 'Not assigned'],
 ['M1V',
  'Scarborough',
  "Milliken, Agincourt North, Steeles East, L'Amoreaux East"],
 ['M2V', 'Not assigned', 'Not assigned'],
 ['M3V', 'Not assigned', 'Not assigned'],
 ['M4V',
  'Central Toronto',
  'Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park'],
 ['M5V',
  'Downtown Toronto',
  'CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport'],
 ['M6V', 'Not assigned', 'Not assigned'],
 ['M7V', 'Not assigned', 'Not assigned'],
 ['M8V', 'Etobicoke', 'New Toronto, Mimico South, Humber Bay Shores'],
 ['M9V',
  'Etobicoke',
  'South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens'],
 ['M1W', 'Scarborough', "Steeles West, L'Amoreaux West"],
 ['M2W', 'Not assigned', 'Not assigned'],
 ['M3W', 'Not assigned', 'Not assigned'],
 ['M4W', 'Downtown Toronto', 'Rosedale'],
 ['M5W', 'Downtown Toronto', 'Stn A PO Boxes'],
 ['M6W', 'Not assigned', 'Not assigned'],
 ['M7W', 'Not assigned', 'Not assigned'],
 ['M8W', 'Etobicoke', 'Alderwood, Long Branch'],
 ['M9W', 'Etobicoke', 'Northwest, West Humber - Clairville'],
 ['M1X', 'Scarborough', 'Upper Rouge'],
 ['M2X', 'Not assigned', 'Not assigned'],
 ['M3X', 'Not assigned', 'Not assigned'],
 ['M4X', 'Downtown Toronto', 'St. James Town, Cabbagetown'],
 ['M5X', 'Downtown Toronto', 'First Canadian Place, Underground city'],
 ['M6X', 'Not assigned', 'Not assigned'],
 ['M7X', 'Not assigned', 'Not assigned'],
 ['M8X', 'Etobicoke', 'The Kingsway, Montgomery Road, Old Mill North'],
 ['M9X', 'Not assigned', 'Not assigned'],
 ['M1Y', 'Not assigned', 'Not assigned'],
 ['M2Y', 'Not assigned', 'Not assigned'],
 ['M3Y', 'Not assigned', 'Not assigned'],
 ['M4Y', 'Downtown Toronto', 'Church and Wellesley'],
 ['M5Y', 'Not assigned', 'Not assigned'],
 ['M6Y', 'Not assigned', 'Not assigned'],
 ['M7Y',
  'East Toronto',
  'Business reply mail Processing Centre, South Central Letter Processing Plant Toronto'],
 ['M8Y',
  'Etobicoke',
  "Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East"],
 ['M9Y', 'Not assigned', 'Not assigned'],
 ['M1Z', 'Not assigned', 'Not assigned'],
 ['M2Z', 'Not assigned', 'Not assigned'],
 ['M3Z', 'Not assigned', 'Not assigned'],
 ['M4Z', 'Not assigned', 'Not assigned'],
 ['M5Z', 'Not assigned', 'Not assigned'],
 ['M6Z', 'Not assigned', 'Not assigned'],
 ['M7Z', 'Not assigned', 'Not assigned'],
 ['M8Z',
  'Etobicoke',
  'Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West'],
 ['M9Z', 'Not assigned', 'Not assigned']]

In [11]:
import pandas as pd  # Import pandas to be able to create pandas dataframe

### Code below will convert out list to pandas dataframe

In [13]:
list_final_pd = pd.DataFrame(list_final)
list_final_pd

       0                 1                                                  2
0    M1A      Not assigned                                       Not assigned
1    M2A      Not assigned                                       Not assigned
2    M3A        North York                                          Parkwoods
3    M4A        North York                                   Victoria Village
4    M5A  Downtown Toronto                          Regent Park, Harbourfront
..   ...               ...                                                ...
175  M5Z      Not assigned                                       Not assigned
176  M6Z      Not assigned                                       Not assigned
177  M7Z      Not assigned                                       Not assigned
178  M8Z         Etobicoke  Mimico NW, The Queensway West, South of Bloor,...
179  M9Z      Not assigned                                       Not assigned

[180 rows x 3 columns]

### With code below we rename column names to appropriate one

In [14]:
list_final_pd.rename(columns={0:'Postal Code',1:'Borough', 2:'Neighbourhood'}, inplace=True)

In [15]:
list_final_pd

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

### Now because we should remove all cells with item 'Not assigned' so I just replace this value with default null value as np.NaN

In [16]:
list_final_pd.replace('Not assigned',np.NaN, inplace=True)
list_final_pd

,Postal Code,Borough,Neighbourhood
0,M1A,NaN,NaN
1,M2A,NaN,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,NaN,NaN
176,M6Z,NaN,NaN
177,M7Z,NaN,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,NaN,NaN

### Code below will remove all rows with null value

In [17]:
list_final_pd = list_final_pd.dropna()

In [18]:
list_final_pd

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

### Also code below will group all rows base on Postal Code column and will join all data of two similar row and seperate them with comma(,)

In [19]:
list_final_pd_cl = list_final_pd.groupby(['Postal Code']).agg(', '.join).reset_index()

In [20]:
list_final_pd_cl

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

### we can see that row with item M5A is now just one and value of Neighbourhood column joint

In [21]:
list_final_pd_cl[list_final_pd_cl['Postal Code']=='M5A']

   Postal Code           Borough              Neighbourhood
53         M5A  Downtown Toronto  Regent Park, Harbourfront

In [22]:
list_final_pd_cl.shape

(103, 3)

### Now we are going to save our final dataframe as a csv file

In [26]:
list_final_pd_cl.to_csv('list_final_pd_cl.csv')